<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <preference for="Picqer\Integration\Api\Data\PushOrderMetadataInterface" type="Picqer\Integration\Model\PushOrderMetadata" />
    <preference for="Picqer\Integration\Api\PushOrderMetadataRepositoryInterface" type="Picqer\Integration\Model\PushOrderMetadataRepository" />

</config>
