<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="picqer" translate="label" sortOrder="10">
            <label>Picqer</label>
        </tab>
        <section id="picqer_integration_options" translate="label" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
            <class>separator-top</class>
            <label>Integration</label>
            <tab>picqer</tab>
            <resource>Picqer_Integration::webhooks_config</resource>
            <group id="webhook_settings" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>General Configuration</label>
                <field id="active" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Active</label>
                    <source_model>Picqer\Integration\Model\Sales\Active</source_model>
                </field>
                <field id="picqer_subdomain" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Picqer subdomain</label>
                </field>
                <field id="connection_key" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Connection key</label>
                </field>
                <field id="cron_enabled" translate="label,comment" type="select" sortOrder="11" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Process by Cron</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <depends><field id="active">0</field></depends>
                    <comment>Push orders to `Picqer` by cron instead `On Save Order`</comment>
                </field>
            </group>
        </section>
    </system>
</config>